// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';


@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Color Menu Activo
.router-link-exact-active{
    //  #99CF16; verde viva
    // #8778B2;  morado viva
    background-color: #8778B2; 
    color:#fff !important;
     }

   .navbar-white {
    background-color: #8778B2; 
   }

   .card-primary.card-outline {
    border-top: 3px solid #99CF16;
    }
